/* Base styles for mobile (default) */
body {
    font-size: 16px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
/* Styles for tablets and larger devices */
@media (min-width: 768px) {
    body {
      font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    ul li {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    div.left-header {
        margin: auto;
    }
}
  
/* Styles for desktops */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

img.logo {
    width: 2.5em;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
    padding-right: 5em;
}

li a {
    text-decoration: none;
    color: black;
}

input[type=search] {
    width: 20em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2em;
    background-color: white;
    background-image: url('images/search.svg');
    background-repeat: no-repeat;
    padding: 1em 4em;
}

img.video-picture {
    width: 100%;
    height: 10em;
    object-fit: cover;
    opacity: 0.8;
    cursor: pointer;
}

img.video-picture:hover {
    opacity: 1;
}

a.w3-button {
    background-color: aqua;
}

a.w3-button:hover {
    background-color: rgba(0, 255, 255, 0.685);
}

h2 {
    color: aqua;
}

p.designer {
    color: aqua;
    font-size: 1.5em;
}
  
header {
    position: sticky;
    top: 0;
    height: 3em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    z-index: 100;
}

div.left-header {
    display: flex;
    align-items: center;
    padding-left: 5em;
    color: aqua;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
    background-image: url(images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

main {
    padding: 1em;
}

div.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

div.video-title {
    display: flex;
    flex-direction: row;
    color: rgb(65, 65, 65);
    justify-content: space-between;
    padding: 0.5em;
}

nav {
    padding: 1em;
}

footer {
    background-color: rgb(240, 240, 240);
    color: rgb(65, 65, 65);
    padding: 1em;
}

div.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
